body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/prosciutto.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.center {
    margin: auto;
    width: 50%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
    color: whitesmoke;
    text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input:focus {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
    border-color: #E64A19;
}

.btn-login {
    background: #DD2C00;
    border-color: #E64A19;
}

.btn-login:hover {
    background: #E64A19;
    border-color: #E64A19;
}
.btn-login:focus {
    background: #a89e94;
    border-color: #ffffff;
}
.btn-account {
    background: rgba(230, 74, 25, 0.56);
    border-color: #E64A19;
}

.btn-account:hover {
    background: #E64A19;
    border-color: #E64A19;
}
.btn-account:focus {
    background: #e2e3e6;
    border-color: #e2e3e6;
}