<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cooking Pleasure | Home</title>


      {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

  </head>

  {% load staticfiles %}
  <body style="background-color: #e8e9e3">

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="toggle"class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> Hi, {{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#ModalProfile">Profile</a></li>
            <li><a href="#" data-toggle="modal" data-target="#ModalContact">Contacts us</a></li>
            <li><a href="/FirstApp/logout/">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input id="SEARCH"type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
          <!-- Modal -->
        <div class="modal fade " id="ModalNewRecipe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | New Recipe</h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmRecipe" enctype="multipart/form-data" action="/FirstApp/add_recipe/" method="post">
                    {% csrf_token %}
                    {% for field in recipeform %}
                        <label class="sr-only " for="{{ field.name }}">{{ field.label  }}</label>
                        {{ field }}
                    {% endfor %}
                    <input type="file" id="photo" name="photo" required="true"/>
                    <Input class = 'form-control' id='inputIngredients' data-toggle="tooltip" title="Separate ingredient name and quantity using colon character. Type a semicolon to add current ingredient to your list." placeholder ='Ingredient, quantity;'>
                    <div class="well" id="ingredients-well">
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button  class="btn btn-default " form="frmRecipe" type="submit" style="background-color: rgba(255, 87, 34, 0.58)">Insert Recipe</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="ModalNewMenu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | New Menu</h4>
              </div>
              <div class="modal-body">
                .<form class="form-signin" id="frmMenu" action="/FirstApp/add_menu/" method="post">
                    {% csrf_token %}
                    {% for field in menuform %}
                        <label class="sr-only " for="{{ field.name }}">{{ field.label  }}</label>
                        {{ field }}
                    {% endfor %}
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default " type="submit" form="frmMenu"style="background-color: rgba(255, 87, 34, 0.58)">Insert Menù</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
          <!-- modal for visualization-->
      <div class="modal fade " id="ModalViewRecipe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Load Recipe </h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmViewRecipe"action="" method="post" style="display: inline">
                    <!--form be created by jquery-->
                </form>
              </div>
              <div class="modal-footer">
                <button  id="btnMailRecipe" class="btn btn-default " form="frmViewRecipe" type="button" style="background-color: rgba(255, 87, 34, 0.58)">get mail</button>
                <button  id="btnListRecipe" class="btn btn-default " form="frmViewRecipe" type="button" style="background-color: rgba(255, 87, 34, 0.58)">Create Shopping List</button>
                <button  id="btnDeleteRecipe" class="btn btn-default " form="frmViewRecipe" type="button" style="background-color: rgba(255, 87, 34, 0.58)">Delete </button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <div class="modal fade " id="ModalViewMenu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Load Menù </h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmViewMenu"action="" method="post" style="display: inline">
                    <!--form be created by jquery-->
                </form>
              </div>
              <div class="modal-footer">

                <button  id="btnMailMenu" class="btn btn-default " form="frmViewMenu" type="button" style="background-color: rgba(255, 87, 34, 0.58)">get mail</button>
                <button  id="btnListMenu" class="btn btn-default " form="frmViewMenu" type="button" style="background-color: rgba(255, 87, 34, 0.58)">Create Shopping List</button>
                <button  id="btnDeleteMenu"class="btn btn-default " form="frmViewMenu" type="button" style="background-color: rgba(255, 87, 34, 0.58)">Delete </button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <div class="modal fade " id="ModalViewList" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Load Shopping List </h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmViewList"action="" method="post" style="display: inline">
                    <!--form be created by jquery-->
                </form>
              </div>
              <div class="modal-footer">

                <button  id="btnMailList" class="btn btn-default " form="frmViewList" type="button" style="background-color: rgba(255, 87, 34, 0.58)">get mail</button>
                <button  id="btnDeleteList"class="btn btn-default " form="frmViewList" type="button" style="background-color: rgba(255, 87, 34, 0.58)">Delete </button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

  <!-- modal contact us  -->
        <div class="modal fade " id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Contact us!</h4>
              </div>
              <div class="modal-body ">
                <form method="post" id="frmcontact"action="/FirstApp/contact_us/">
                    {% csrf_token %}
                    <div style="margin-left: 10%;margin-right: 10%">
                        <input class ='form-control' type="text" name="name" id="contact-name" placeholder="Name" style="margin-bottom: 5px" required="true"/>
                        <input class ='form-control' type="email" name="email" id="contact-email" placeholder="Email" style="margin-bottom: 5px" required="true"/>
                        <textarea class ='form-control' name="message" id="contact-message" placeholder="Message" rows="4" required="true"></textarea>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                  <input type="submit" class="btn btn-default" form="frmcontact" value="Send" style="background-color: rgba(255, 87, 34, 0.58)"/></li>
                  <input type="reset" class="btn btn-default" form="frmcontact" value="Reset" style="background-color: rgba(255, 87, 34, 0.58)"/></li>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal profile-->
        <div class="modal fade " id="ModalProfile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Profile</h4>
              </div>
              <div class="modal-body ">
                <form method="post" id="frmprofile">
                    {% csrf_token %}
                    <div class="row placeholders">
                        <div class="col-xs-12 placeholder">

                            <label class ='form-control' id="inputUsername" style="min-height:50px;text-align: left">Username:<br>{{ user.username }}</label>
                            <label class ='form-control' id="inputEmail" style="min-height:50px;text-align: left">Email: <br> {{ user.email }}</label>
                            <label class ='form-control' id="inputFirstName" style="min-height:50px;text-align: left">First Name:<br>{{ user.first_name }}</label>
                            <label class ='form-control' id="inputLastName" style="min-height:50px;text-align: left">Last Name: <br> {{ user.last_name }}</label>
                        </div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--modal end-->
        <div class="col-sm-1  col-md-12 main">
            <div>

              <h1 class="page-header">
                      {% load staticfiles %}
                      <input type="image" src="{% static "images/add.jpg" %}" class="button-add" alt="+" data-toggle="modal" data-target="#ModalNewRecipe">
                  Recipe:</h1>
                <div class="row placeholders" id="recipeplace">
                  {% if recipe_list %}
                      {% for recipe in recipe_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                              <input id="btnGetRecipe" type="image" src= "{{ MEDIA_URL }}{{ recipe.photo }}" class="img-responsive" alt="Recipe Image" data-toggle="modal" data-target="#ModalViewRecipe">
                              <h4 id="recipename">{{ recipe.name }}</h4>
                              <span class="text-muted">{{ recipe.author }}</span>

                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Recipe are available.</p>
                  {% endif %}
              </div>
          </div>
            <div class=" ">
              <h1 class="page-header">
                  {% load staticfiles %}
                      <input type="image" src="{% static "images/add.jpg" %}" class="button-add" alt="+" data-toggle="modal" data-target="#ModalNewMenu">
                  Menù:</h1>
                <div class="row placeholders" id="menuplace">
                  {% if menu_list %}
                      {% for menu in menu_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                                  {% load staticfiles %}
                                  <input id="btnGetMenu" type="image" src={% static "images/Menu.jpg" %} class="img-responsive" alt="Menu Image" data-toggle="modal" data-target="#ModalViewMenu">
                              <h4>{{ menu.name }}</h4>
                              <span class="text-muted">{{ menu.author }}</span>

                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Menù are available.</p>
                  {% endif %}
              </div>
              </div>
            <div class=" ">
              <h1 class="page-header">Shopping List:</h1>

              <div class="row placeholders" id="listplace">
                  {% if list_list %}
                     {% for list in list_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                              {% load staticfiles %}
                              <input id="btnGetList" type="image"  src={% static "images/list.jpg" %} class="img-responsive" alt="List Image" data-toggle="modal" data-target="#ModalViewList">
                              <h4>{{ list.name }}</h4>
                              <span class="text-muted">{{ list.author }}</span>
                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Shopping List are available.</p>
                  {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% load staticfiles %}
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/ajaxform.js"%}"></script>
  </body>
</html>


