<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cooking Pleasure | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

      {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cooking Pleasure - Hi, {{ user.first_name }} {{ user.last_name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contacts us</a></li>
            <li><a href="/FirstApp/logout/">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row " >
        <div class="col-sm-3 col-md-2 sidebar">
         <!-- <ul class="nav nav-sidebar">       the left side menu hidden
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/FirstApp/dashboard/recipe/">Recipe</a></li>
            <li class="active"><a href="/FirstApp/dashboard/menu">Menù</a></li>
            <li class="active"><a href="/FirstApp/dashboard/list">Shopping List</a></li>
          </ul> -->
          <ul class="nav nav-sidebar">
            <li class="active">
                <button type="button" class="mybutton" data-toggle="modal" data-target="#ModalNewRecipe" >
                    <a class="button-text">New Recipe</a>
                </button>
            </li>
            <li class="active">
                <button type="button" class="mybutton" data-toggle="modal" data-target="#ModalNewMenu" >
                    <a class="button-text">New Menù</a>
                </button>
            </li>
            <li class="active">
                <button type="button" class="mybutton" data-toggle="modal" data-target="#ModalNewList" >
                    <a class="button-text">New Shopping List</a>
                </button>
            </li>
          </ul>
        </div>
          <!-- Modal -->
        <div class="modal fade " id="ModalNewRecipe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | New Recipe</h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmRecipe"action="/FirstApp/addrecipe/" method="post">
                    {% csrf_token %}
                    {% for field in recipeform %}
                        <label class="sr-only " for="{{ field.name }}">{{ field.label  }}</label>
                        {{ field }}
                    {% endfor %}
                </form>
              </div>
              <div class="modal-footer">
                <button  class="btn btn-default " form="frmRecipe" type="submit" style="background-color: rgba(255, 87, 34, 0.58)">Insert Recipe</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="ModalNewMenu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | New Menu</h4>
              </div>
              <div class="modal-body">
                .<form class="form-signin" enctype="multipart/form-data" id="frmMenu" action="/FirstApp/addmenu/" method="post">
                    {% csrf_token %}
                    {% for field in menuform %}
                        <label class="sr-only " for="{{ field.name }}">{{ field.label  }}</label>
                        {{ field }}
                    {% endfor %}
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default " type="submit" form="frmMenu"style="background-color: rgba(255, 87, 34, 0.58)">Insert Menù</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade bs-example-modal-lg" id="ModalNewList" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | New Shopping List</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default " type="submit" style="background-color: rgba(255, 87, 34, 0.58)">Insert Shopping List</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <!-- modal for visualization-->
      <div class="modal fade " id="ModalViewRecipe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CP | Load Recipe </h4>
              </div>
              <div class="modal-body ">
                <form class="form-signin" id="frmViewRecipe"action="" method="post">
                    {% csrf_token %}
                    {% for field in viewrecipeform %}
                        <label class="sr-only " for="{{ field.name }}">{{ field.label  }}</label>
                        {{ field }}
                    {% endfor %}
                </form>
              </div>
              <div class="modal-footer">
                <button  class="btn btn-default " form="frmViewRecipe" type="submit" style="background-color: rgba(255, 87, 34, 0.58)">Insert Recipe</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--modal end-->
        <div class="col-sm-9  col-md-10 main">
            <div class="  ">
              <h1 class="page-header">Recipe:</h1>
                <div class="row placeholders">
                  {% if recipe_list %}
                      {% for recipe in recipe_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                              <button type="button" class="btn btn-default " style="border-radius: 80%;border-color: transparent;background: transparent" data-toggle="modal" data-target="#ModalViewRecipe" >
                                  {% load staticfiles %}
                                  <img src={% static "photo/logo.jpg" %} class="img-responsive" alt="Recipe Image">
                              </button>
                              <h4>{{ recipe.name }}</h4>
                              <span class="text-muted">{{ recipe.author }}</span>
                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Recipe are available.</p>
                  {% endif %}
              </div>
          </div>
            <div class=" ">
              <h1 class="page-header">Menù:</h1>
                <div class="row placeholders">
                  {% if menu_list %}
                      {% for menu in menu_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Menù Image">
                              <h4>{{ menu.name }}</h4>
                              <span class="text-muted">{{ menu.author }}</span>
                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Menù are available.</p>
                  {% endif %}
              </div>
              </div>
            <div class=" ">
              <h1 class="page-header">Shopping List:</h1>

              <div class="row placeholders">
                  {% if list_list %}
                      {% for list in list_list %}
                          <div class="col-xs-6 col-sm-3 placeholder">
                              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="List Image">
                              <h4>{{ list.name }}</h4>
                              <span class="text-muted">{{ list.author }}</span>
                          </div>
                      {% endfor %}
                  {% else %}
                      <p>No Shopping List are available.</p>
                  {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    {% load staticfiles %}
        <script src="{% static "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
