<!DOCTYPE html>
<html lang="en">

    <!--

     COLOR PALETTE FOR ALL WEBSITE

     Dark Primary Color: #E64A19
     Primary Color: #FF5722
     Light Primary Color: #FFCCBC
     Text Icons: #FFFFFF
     Accent Color: #009688
     Primary Text: #212121
     Secondary Text: #727272
     Divider Color: #B6B6B6

    -->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
      <meta name="theme-color" content="#FF5722">
    <link rel="icon" href="../../favicon.ico">

    <title>Cooking Pleasure</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    {% load staticfiles %}

        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/carousel.css" %}" />
        <script src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color: whitesmoke;">Cooking Pleasure</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active" id="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/FirstApp/dashboard/">Go to the App!</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Cooking Pleasure</h1>
              <p>Just what you need for cooking.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" id="about">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h1 class="glyphicon glyphicon-refresh" style="font-size: 140px;"></h1>
          <h2>Sync all your recipes, lists and menus through your devices</h2>
          <p>You will never lose anything!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h1 class="glyphicon glyphicon-retweet" style="font-size: 140px;"></h1>
            <h2>Share your pictures with your friends</h2>
          <p>Fast, clean and funny!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h1 class="glyphicon glyphicon-cog" style="font-size: 140px;"></h1>
            <h2>You can manage everything from A to Z</h2>
          <p>Everything is controlled by you. If you feel safer by working offline this app can act as a simple cookbook!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

     <div class="jumbotron">
         <h2 style="text-align: center;">We created this for you</h2>
         <p style="text-align: center;">
             And to let you really enjoy the pleasure of cooking. This is gonna be a necessary instrument for your day!<br><br>
             ...so, make it yours!
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h2 style="font-size: 120px;" class="fa fa-android"></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h2 style="font-size: 120px;" class="fa fa-windows"></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h2 style="font-size: 120px;" class="fa fa-apple"></h2>
                </div>
            </div>
         </p>
     </div>

        <hr>

        <div class="jumbotron" id="contact">

            <h2 style="text-align: center;">Got any questions?</h2>
            <p style="text-align: center;">
                The form below is here for you!
            </p>
            <hr class="featurette-divider">
            <form class="form-horizontal" id="frmcontact"role="form" method="post" action="/FirstApp/contact_us/">
                {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
        </div>
        <div class="jumbotron">
            <h2 style="text-align: center;">And don't forget to follow us on social networks</h2>
            <p style="text-align: center;">to be always updated and keep in touch with our community!</p>
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h2 style="font-size: 120px;" class="fa fa-facebook"></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                     <h2 style="font-size: 120px;" class="fa fa-twitter"></h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                     <h2 style="font-size: 120px;" class="fa fa-google-plus"></h2>
                </div>
            </div>
        </div>

      <!-- FOOTER -->
      </footer>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div><!-- /.container -->

  </body>
</html>
