<!DOCTYPE HTML>
<html>
    <body>
        <div id="header-wrapper" >
            <div id="header" class="container" >
                <div class="6u 12u(mobile)">
                    <section>
                        <div id="logo">
                            <h1 >COOKING PLEASURE</h1>
                            <p>Just what you need for cooking</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="intro-wrapper" class="wrapper style1">
            <div class="title">Who are you?</div>
            <section id="intro" class="container">

            </section>
        </div>

        {% load staticfiles %}
            <link rel="stylesheet" href="{% static "assets/css/ie8.css" %}" />
            <link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
            <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}" />
            <link rel="stylesheet" href="{% static "assets/css/override.css" %}" />
    </body>
</html>